.feed {
    position: absolute; 
    top: 100px; 
    left: 400px; 
    right: 50px; 
    width: 30%; 
    flex: 0.8;
    margin: 0 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.3);
}

.feed__inputContainer {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feed__input {
    border: 1px solid lightgray;
    border-radius: 50px;
    display: flex;
    padding: 10px 10px;
    color: gray;
    padding-left: 15px;

}

.feed__input > form {
    display: flex;
    width: 100%;
}

.feed__input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}

.feed__input > form > button{
    display: none;
}

.feed__inputOptions{
    display:flex;
    justify-content: space-evenly;
}

hr {
    margin-block-start: 16px;
    margin-block-end: 16px;
    
}


@media screen and (max-width: 750px) {
    .feed_inputOptions {
       
        font-size: 13px;
    }
  
  }