.inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: rgb(87, 87, 87);
    padding: 10px;
    cursor: pointer;
}
  
.inputOption:hover {
    background-color: rgb(208, 208, 208);
    border-radius: 10px;
}
  
.inputOption > h4 {
    margin-left: 5px;
}