.post {
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.2);
}
  
.post__header {
    display: flex;
    margin-bottom: 30px;
}

.post__header > .MuiAvatar-colorDefault {
    background-color: #d4d4d4;
    width: 45px;
    height: 45px;
    border: 2px solid whitesmoke;
}
  
.post__header > .MuiAvatar-root {
    width: 45px;
    height: 45px;
    border: 2px solid whitesmoke;
}

.post__info {
    margin-left: 2px;
}
  
.post__info > p {
    font-size: 12px;
    color: rgb(92, 92, 92);
}
  
.post__body {
    overflow-wrap: anywhere;
}
  
.post__info > h2 {
    font-size: 19px;
}
  
.post__buttons {
    display: flex;
    justify-content: space-evenly;
}
  
@media screen and (max-width: 750px) {
      .widgets {
          display: none;
      }
  
}