.header {
    position: sticky;
    top: 0;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    /* padding-top: 0px; */
    /* padding-bottom: 10px; */
    width: 100%;
    z-index: 999;
    height: 33px; 

}
.header__left {
    display: flex;
}

.header__left > img {
    padding: 10px; 
    display: flex; 
    align-items: center; 
    height: 150px;
    width: 1080px; /* so it is center */ 
    position: absolute;
    top: -50px; 
    left: -480px; 
}


.header__search {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 280px; 
    height: 20px;
    color: rgb(255, 255, 255);
    /* background-image: linear-gradi  ent(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%); */
    /* background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%); */
    box-shadow: 2px 2px 2px 1px rgb(58, 58, 58);
    /* border-radius: 50px; */
    border: 1px;
    outline: none !important;
    position: absolute; 
    top: 15px; 
    /* left: 150px;  */
    right: 30px; 
}


.header__search > input {
    width: 250px;
    outline: none;
    border: none;
    background: none;
    font-size: 15px;
}

.headerButtonJobs {
    padding-left: 19px;
    display: flex;
    align-items: center;
    width: 80px; 
    height: 40px;
    color: rgb(41, 41, 41);
    /* background-image: linear-gradi  ent(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%); */
    box-shadow: 2px 2px 2px 1px rgb(58, 58, 58);
    /* border-radius: 50px; */
    border: 1px;
    outline: none !important;
    position: absolute; 
    top: 0px; 
    right: -300px; 
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    /* background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%); */
    /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    border-radius: 100px;
    border: 0.5px;
    outline: none !important;
}

.headerButtonHome {
    padding-left: 17px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    width: 80px; 
    height: 40px;
    color: rgb(41, 41, 41);
    /* background-image: linear-gradi  ent(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%); */
    box-shadow: 2px 2px 2px 1px rgb(58, 58, 58);
    /* border-radius: 50px; */
    border: 1px;
    outline: none !important;
    position: absolute; 
    top: 0px; 
    right: -100px; 
    text-align: center;
    font-size: 15px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    /* background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%); */
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    border-radius: 100px;
    border: 0.5px;
    outline: none !important;
}

.headerButtonNetwork {
    padding: 10px;
    display: flex;
    font-weight: bold;
    align-items: center;
    width: 80px; 
    height: 40px;
    color: rgb(41, 41, 41);
    /* background-image: linear-gradi  ent(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%); */
    box-shadow: 2px 2px 2px 1px rgb(58, 58, 58);
    /* border-radius: 50px; */
    border: 1px;
    outline: none !important;
    position: absolute; 
    top: 0px; 
    right: -500px; 
    text-align: center;
    font-size: 14px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    /* background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%); */
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    border-radius: 100px;
    border: 0.5px;
    outline: none !important;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}

.headerButtonJobs:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}

.header__right {
    display: flex;
    color: black; 
    position: absolute;
    top: 15px; 
    left: 300px; 
}

.header__right .MuiAvatar-colorDefault {
    position: absolute;
    top: 10px; 
    right: 20px; 
    background-color: #555555;
  }

@media screen and (max-width: 750px) {
  .header__search{
      display: none;
  }
  .header__search > input{
      display:none;
  }

  .header__left > img {
    object-fit: contain;
    height: 50px;
    margin-right: 10px;
}
}