html {
  background-image: whitesmoke;
}

.app {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  /* background-color: whitesmoke; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__body {
  display: flex; 
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  min-height: 100%;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}